* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
   body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;     
  }
  
  .container {
    width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;  
  }
  
  .cartao {
    transform-style: preserve-3d;
    min-height:80vh;
    width: 25rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }  
  .tenis {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
  }
  
  .tenis img {
  width: 23rem;
  transition: all 0.75s ease-out;
  z-index: 2;
  }
  .circulo {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
      to right,
      rgba(92, 92, 92, 0.75),
      rgba(1, 40, 80, 0.75)
    );
    position: absolute;
    border-radius: 50%;
  }
  .descricoes{
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  .descricoes h1 {
    background-color: #fafafa;
    font-size: 2.5rem;
    border: 1px solid rgb(235, 232, 232);
    border-radius: 10px;
    padding: 5px;
    transition: all 0.75s ease-out;
    z-index: 1;
  }
  .descricoes h1:hover{
    color: green;
    transition: all 0.75s ease-out;
  }

  .descricoes h3 {
    font-size: 0.8rem;
    padding: 1rem 0rem;
    color: #585858;
    font-weight: lighter;
    margin-bottom: 1rem;
    transition: all 0.75s ease-out;
  }
  
  .medidas {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
    width: 150px;
  }
  
  .medidas button {    
    padding: 0.3rem 1rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
  }
  
  button.active {
    background: #585858;
    color: white;
  }
 
  .comprar {
    margin: 3rem 1rem;
    transition: all 0.75s ease-out;
  }
   
  .comprar button {
    width: 100%;
    padding: 1rem 0rem;
    background: #3c3c3c;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
  }
  .comprar button:hover{
    font-size: 25px;
    color: green;
    transition: all 0.75s ease-out;
  }